In [1]:
age = 22

In [2]:
age

22

In [4]:
age = int(input())
print("your age is :",age)

 44

your age is : 44

In [6]:
age = int(input())

if age>=18 and age<=45:
    print("You are yongster")
else:
    print("rejected")

 22

You are yongster

In [14]:
PP = int(input())

if PP>=1000:
    print("20% off")
    print(PP - PP*0.2)
elif PP <=1000:
    print("30% off")
    print(PP - PP * 0.7)

 500

30% off
150.0

In [ ]:
PP = int(input())

if PP<=1000 and PP<=2000:
    print("0% off")

# Loops Stetments

In [16]:
joining_age = 21

In [17]:
joining_age

21

In [27]:
joining_age = 25
while joining_age <= 60:
    print(joining_age)
    joining_age = joining_age+1
else:
    print("time to retire")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
time to retire

In [26]:
### Atm machine with 1000 rs

total_amount = 1000

while total_amount != 0:
    print(total_amount)
    total_amount = total_amount -100
    
else:
    print("ATM is empty")

1000
900
800
700
600
500
400
300
200
100
ATM is empty

# For Loop

In [28]:
lst = ["vijay", 2, 4, 5, "mathe", "sangwa"]

In [29]:
lst

['vijay', 2, 4, 5, 'mathe', 'sangwa']

In [30]:
type(lst)

list

In [31]:
print(len(lst))

6

In [32]:
print(len("vijay"))

5

In [33]:
for x in lst:
    print(x)

vijay
2
4
5
mathe
sangwa

In [46]:
fruits = {"banana", "mango", "cherry", "apple", "strauberry"}
print(type(fruits))

<class 'set'>

In [35]:
ruits = ("banana", "mango", "cherry")
print(type(ruits))

<class 'tuple'>

In [42]:
for a in fruits:
    print(a)
    if a == "cherry":
        print("the fruit is cherry")

cherry
the fruit is cherry
banana
strauberry
mango
apple

In [43]:
lst[0]

'vijay'

In [48]:
fruits[3]

TypeError: 'set' object is not subscriptable

## Nested loops

In [49]:
n = 7

In [55]:
for i in range(-11, 10, 2):
    print(i)

-11
-9
-7
-5
-3
-1
1
3
5
7
9

### pattern

In [60]:

for i in range(0, n):
    for j in range(0, i+1):
        print("*", end="")
    print("\r")

*
**
***
****
*****
******
*******

In [67]:
n = 10
for i in range(0, n):
    for j in range(0, n+1):
        print("*", end="")
        n = n - 1
    print("\r")

***********

In [73]:
n = 10

for i in range(0, n):
    for i in range(0, 5):
        print(" ")
        for i in range(0, i):
            print("*", end="")
        print("v")

v

*v

**v

***v

****v

v

*v

**v

***v

****v

v

*v

**v

***v

****v

v

*v

**v

***v

****v

v

*v

**v

***v

****v

v

*v

**v

***v

****v

v

*v

**v

***v

****v

v

*v

**v

***v

****v

v

*v

**v

***v

****v

v

*v

**v

***v

****v

In [77]:
for i in lst:
    print(i)
    if i == 4:

vijay
2
4
5
mathe
sangwa

## Patterns

In [86]:
n = 5
for i in range(0, n+1):
    for j in range(0, n-i+1):
        print("*", end="")
    print("")

******
*****
****
***
**
*

### Half dimond

In [89]:
n = 5
for i in range(0, n+1):
    for j in range(0, n-i):
        print(" ", end="")
    for k in range(0, (2*i)-1):
        print("*", end="")
    print("")

    *
   ***
  *****
 *******
*********

### Dimond Pattern

In [99]:
n = 5
for i in range(0, n+1):
    for j in range(0, n-i):
        print(" ", end="")
    for k in range(0, (2*i)-1):
        print("*", end="")
    print("")
    
for i in range(n, 0, -1):
    for j in range(0, n-i):
        print(" ", end="")
    for k in range(0, (2*i)-1):
        print("*", end="")
    print("")

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [108]:
n = 10

for i in range(0, n):
    for j in range(0, n-i):
        print(" ", end="")
    for k in range(0, n-i):
        print("*",end="")
    print("")

          **********
         *********
        ********
       *******
      ******
     *****
    ****
   ***
  **
 *

In [109]:
for i in range(0, n):
    for j in range(0, i):
        print(" ", end="")
    for k in range(0, n-i):
        print("*", end="")
    print("")

**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *

In [113]:
lst = ["mango", "python", "panda", "java", "theta", "cpp"]
st = {"mango", "python", "panda", "java", "theta", "cpp"}
touple = ("mango", "python", "panda", "java", "theta", "cpp")

print(type(lst))
print(type(st))
print(type(touple))

print(lst[3])
# print(st[2]) ## Not possible
print(touple[2])

<class 'list'>
<class 'set'>
<class 'tuple'>
java
panda