## Q1. What is a database? Differentiate between SQL and NoSQL databases.

### Ans:
### The database is an electronic space where the data can be stored in such a manner that the data which is stored cabe be accessible easilyh by the authorized persons
### The CRUD operations can be performed with the database (C- Create, R- Read, U- Update, D- Delete)

### SQl Database:
### The SQL Database stores the data in a tabular format
### The SQL database can only store the current data and huge amount of data cannot be stored in the database
### The tables in SQL Databases are connected with each other
### SQL databases follow a structured, relational model with predefined schemas and use SQL as the query language.

### NoSQL Databases
### The NoSQL Databases stote the data in the form of document, graph, key-value
### The NoSQL Databases can store huge amounts of a data
### The NoSQL Databases can store data about multiple years of history
### NoSQL databases provide more flexibility in data organization, handle various data formats, and offer high scalability and performance.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

### Ans:
### DDL meand Data Definition Language used to define and manage the structure of a database.
### The DDL is used to define the schema of the database
### DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and constraints.
### CREATE - it is used to create new databse objects in the database
### DROP - The DROP statement is used to remove an existing database object.
### ALTER - The ALTER statement is used to modify the structure of an existing database object.
### TRUNCATE - The TRUNCATE statement is used to remove all data from an existing table while keeping its structure intact.

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

### Ans:
### DML means Data Manipulation Language used to retrieve, modify, and delete data within a database.
### INSERT - The INSERT statement is used to insert new data into a table.
### UPDATE - The UPDATE statement is used to modify existing data in a table.
### DELETE - The DELETE statement is used to delete existing data from a table.

## Q4. What is DQL? Explain SELECT with an example.

### Ans:
### DQL means Data Query Language used to retrive the data from the databse.
### DQL Includes the SELECT statement
### The SELECT statement is used to retrieve data from a database table or multiple tables. It allows you to specify the columns you want to retrieve, the table(s) from which to retrieve the data, and optional conditions to filter the data.

## Q5. Explain Primary Key and Foreign Key.

### Ans:
### The Primary key is the attribute or the set of attributes that uniquely identifies each instance of the entity
### The Feraign key is used to connect two tables.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [2]:
import mysql.connector

connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

### cursor():
### The cursor() method is used to create a cursor object. The cursor acts as a pointer or handle to the result set of a query.

### execute():
### The execute() method is used to execute SQL queries or statements. It takes the SQL query as a parameter and executes it on the database.

## Q7. Give the order of execution of SQL clauses in an SQL query.

### Ans:
### The order of execution of SQL clauses in an SQL query is as follows

FROM: Specifies the table(s) from which data is being retrieved.

JOIN: Specifies any join operations to combine data from multiple tables.

WHERE: Filters the data based on specified conditions.

GROUP BY: Groups the data based on specified columns.

HAVING: Filters the grouped data based on specified conditions.

SELECT: Specifies the columns to retrieve from the table(s).

DISTINCT: Removes duplicate rows from the result set.

ORDER BY: Sorts the result set based on specified columns.

LIMIT/OFFSET: Limits the number of rows returned or skips a specified number of rows.